@import '../../styles/utilities/variables';
@import '../../styles/utilities/mixin';

.card {
    @include pixelated-border;
    height: 100%;
    text-align: center;
    background: #3333f8;
    padding: 1.5rem;

    h5 {
        font-size: 2.5rem;
        text-shadow: none;
        margin: 2rem 0;
    }

    p {
        font-size: 1.4rem;
    }
}

.landSizes {
    h6 {
        text-transform: uppercase;
        font-size: 2rem;
        color: $primary-text;
    }
}

.list {
    @include custom-ul;
}