@mixin pixelated-border {
    clip-path: polygon(0px 5px,
            1px 5px,
            1px 3px,
            2px 3px,
            2px 2px,
            3px 2px,
            3px 1px,
            4px 1px,
            5px 1px,
            5px 0px,
            calc(100% - 5px) 0px,
            calc(100% - 5px) 1px,
            calc(100% - 3px) 1px,
            calc(100% - 3px) 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) 3px,
            calc(100% - 1px) 3px,
            calc(100% - 1px) 4px,
            calc(100% - 1px) 5px,
            100% 5px,
            100% calc(100% - 5px),
            calc(100% - 1px) calc(100% - 5px),
            calc(100% - 1px) calc(100% - 3px),
            calc(100% - 2px) calc(100% - 3px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 3px) calc(100% - 2px),
            calc(100% - 3px) calc(100% - 1px),
            calc(100% - 4px) calc(100% - 1px),
            calc(100% - 5px) calc(100% - 1px),
            calc(100% - 5px) 100%,
            5px 100%,
            5px calc(100% - 1px),
            3px calc(100% - 1px),
            3px calc(100% - 2px),
            2px calc(100% - 2px),
            2px calc(100% - 3px),
            1px calc(100% - 3px),
            1px calc(100% - 4px),
            1px calc(100% - 5px),
            0px calc(100% - 5px));
}

@mixin custom-ul {
    ul {
        list-style: none;
        padding: 0;

        li {
            padding-left: 1.3rem;
            font-size: 1.3rem;
            color: $primary-text;

            &::before {
                content: "\f0da";
                font-family: FontAwesome;
                display: inline-block;
                margin-left: -1.3rem;
                width: 1.3rem;
            }
        }
    }
}

@mixin heading-shadow {
    text-shadow: rgb(51 29 19) 2px 4px 0px;
}