@import "../../styles/utilities/variables";

#heroarea {
    color: $primary-text;
    min-height: calc(100vh - 80px);
    display: flex;
    font-display: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.heading {
    text-transform: uppercase;
    font-size: 4rem;
    color: $primary-text;
    text-shadow: 0 3px brown;
}
.sub_heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: $primary-text;
    text-shadow: 0 3px brown;
}