@import '../../styles/utilities/variables';

.intro {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

    p {
        text-transform: uppercase;
        font-size: 1.8rem;
    }
}