@import '../../styles/utilities/variables';

:global(#footer) {
    padding: 0 1rem;

    a,
    ul,
    p {
        font-size: 1.3rem;

        &:last-child {
            font-size: 0.8rem;
        }
    }

    ul {
        list-style: none;
        text-align: end;

        li {
            a {
                color: $primary-text;
                font-size: 1.3rem;
            }
        }
    }
}

.navBrand {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: #f66;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
        color: #f66;
    }
}

@media (max-width: $breakpoint-md) {
    :global(#footer) {
        flex-direction: column;

        ul {
            li {
                text-align: center;
            }
        }
    }
}