@import '../../styles/utilities/variables';

.gradiant {
    font-size: 3rem;
    background: -webkit-linear-gradient(#330fff, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}